@model EmployeeManagementSystem.Models.EmployeeJobInfoVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Employee Job Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeCount" class="control-label"></label>
                <input asp-for="EmployeeCount" class="form-control" />
                <span asp-validation-for="EmployeeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnviromentSatisfaction" class="control-label"></label>
                <input asp-for="EnviromentSatisfaction" class="form-control" />
                <span asp-validation-for="EnviromentSatisfaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobRole" class="control-label"></label>
                <input asp-for="JobRole" class="form-control" />
                <span asp-validation-for="JobRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobInvolvement" class="control-label"></label>
                <input asp-for="JobInvolvement" class="form-control" />
                <span asp-validation-for="JobInvolvement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobLevel" class="control-label"></label>
                <input asp-for="JobLevel" class="form-control" />
                <span asp-validation-for="JobLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobSatisfaction" class="control-label"></label>
                <input asp-for="JobSatisfaction" class="form-control" />
                <span asp-validation-for="JobSatisfaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformanceRating" class="control-label"></label>
                <input asp-for="PerformanceRating" class="form-control" />
                <span asp-validation-for="PerformanceRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkLifeBalance" class="control-label"></label>
                <input asp-for="WorkLifeBalance" class="form-control" />
                <span asp-validation-for="WorkLifeBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">
        <i class="fa fa-undo" aria-hidden="true"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
